      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background: steelblue;
      }

      h1 {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 3rem;
        color: white;
        text-shadow: 2px #000 4px rgb(128, 90, 0);
      }

      .lottoContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-inline: auto;
        margin-bottom: 3rem;
      }

      p {
        color: steelblue;
        background: lightgray;
        font-size: 40px;
        text-align: center;
        border: 25px solid #000;
        border-style: double;
        padding: 1rem;
      }

      .inputContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr) 2fr repeat(2, 1fr);
        margin-inline: auto;
        margin-bottom: 30px;
        grid-gap: 0;
      }

      label {
        font-size: 17px;
        color: white;
        font-weight: bold;
        line-height: 2;
      }

      input[type="number"] {
        width: 4vw;
        height: 5vh;
        background: crimson;
        color: #FFF;
        font-size: 30px;
      }

      button {
        width: 3vw;
        height: 5vh;
        background: crimson;
        color: #FFF;
        font-size: 20px;
      }

      button:hover {
        background: blue;
      }

      #confirm {
        width: 5vw;
        font-size: 15px;
      }
