* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(70, 92, 103);
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 70px;
  color: #fdf8f8;
}

.lottoContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-inline: auto;
  margin-bottom: 70px;
  grid-gap: 1rem;
}

.lottoContainer p {
  color: steelblue;
  background: lightgray;
  font-size: 40px;
  text-align: center;
  border: 9px solid #000;
  border-style: ridge;
  padding: 1rem;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2fr repeat(2, 1fr);
  margin-inline: auto;
  margin-bottom: 70px;
  grid-gap: 0;
}

label {
  font-size: 17px;
  color: white;
  font-weight: bold;
  line-height: 2;
}

input[type="number"] {
  width: 4vw;
  height: 5vh;
  background: crimson;
  color: #fff;
  font-size: 30px;
}

button {
  width: 3vw;
  height: 5vh;
  background: crimson;
  color: #fff;
  font-size: 20px;
}

button:hover {
  background: blue;
  width: 3.25vw;
  height: 5.25vh;
  transition: 900ms ease all;
}

#confirm {
  width: 5vw;
  font-size: 15px;
}

.extra {
  color: rgb(253, 250, 250);
  font-size: 1.35rem;
  text-align: center;
}
